@page
@model ProjektASP.Pages.LoginModel
@{
}
<header>Login</header>
<form method="POST">
    <input asp-for="LoginUser.UserName" />
    <input asp-for="LoginUser.Password" />
    <input type="submit" />
</form>
